{% if pagination.href.previous or pagination.href.next %}
<div class="nav-wrapper">
  <nav>
    <a role="button" href="{{ pagination.href.previous or '#' }}"{% if not pagination.href.previous %} disabled{% endif %}>&larr; Previous</a>
    <a role="button" href="{{ pagination.href.next or '#' }}"{% if not pagination.href.next %} disabled{% endif %}>Next &rarr;</a>
  </nav>
</div>
{% endif %}
