{
  "semi": true,
  "singleQuote": false,
  "trailingComma": "none",
  "useTabs": false,
  "overrides": [
    {
      "files": "src/**/*.njk",
      "options": { "parser": "nunjucks-prettier" }
    }
  ]
}
