---
layout: base.njk
title: Webcam Archive
---

<div class="grid">
{% for camera in cameras %}
  <section>
    <article>
      <div>
        <h2><a href="/{{ camera.camera.id }}/">{{ camera.camera.label }}</a></h2>
        <a href="/{{ camera.camera.id }}/">
          <img src="{{ site.image_cdn }}{{ camera.images[0].image.Key }}" alt="{{ camera.images[0].image.Key }}">
        </a>
        <p><small>{{ camera.images[0].image.LastModified | date("yyyy-MM-dd HH:mm") }}</small></p>
    </div>
    </article>
  </section>
{% endfor %}
</div>
