---
layout: base.njk
pagination:
  data: days
  size: 1
  alias: day
permalink: "{{ day.permalink }}/"
eleventyComputed:
  title: "{{ day.camera.label }} Archive for {{ day.images[0].image.LastModified | date('MMMM yyyy') }}"
  breadcrumbs:
    - url: "/{{ day.camera.id }}/"
      text: "{{ day.camera.label }}"
    - url: "/{{ day.camera.id }}/{{ day.images[0].image.LastModified | date('yyyy') }}/"
      text: "{{ day.images[0].image.LastModified | date('yyyy') }}"
    - text: "{{ day.images[0].image.LastModified | date('MM') }}"
---

<h1>{{ day.camera.label }} Archive for {{ day.images[0].image.LastModified | date('MMMM yyyy') }}</h1>
  <div class="grid">
{% for image in day.images %}

    <article>
  
  <h2><a href="/{{ day.camera.id }}/{{ image.image.LastModified | date("yyyy/MM/dd") }}/">{{ image.image.LastModified | date("dd") }}</a></h2>
  <a href="/{{ day.camera.id }}/{{ image.image.LastModified | date("yyyy/MM/dd") }}/">
  <img src="{{ site.image_cdn }}{{ image.image.Key }}" alt="Image from {{ image.image.LastModified | date("yyyy/MM/dd") }} for {{ day.camera.label }}" class="thumb thumb-sml">
  </a>
    </article>
{% endfor %}

</div>

<div class="container-fluid">
  {% include "pagination.njk" %}
</div>