@use "../../node_modules/@picocss/pico/scss" with (
  $theme-color: "lime"
);

mark {
  padding: 0;
  background: linear-gradient(
    to left,
    rgb(68, 161, 231),
    rgb(57, 197, 187),
    rgb(63, 227, 138),
    rgb(246, 206, 66)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

h1 a {
  text-decoration: none;
}

.responsive-image {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto; /* center if container is wider */
  border-radius: 4px;
}

.nav-wrapper {
  display: block;
  max-width: fit-content; /* shrink to fit the content/image width */
  margin: 0 auto; /* center below the image */
  text-align: center; /* center buttons inside */
  padding-top: 0.5rem; /* optional spacing above buttons */
}

.nav-wrapper a {
  display: inline-block;
  margin: 0 0.5rem; /* space between buttons */
}

.thumb {
  display: block;
  object-fit: cover;
  margin: 0.25rem;
  border-radius: 4px;
}

.grid img.thumb-sml {
  width: 170px;
}

.grid img.thumb-lrg {
  width: 400px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}

grid img {
  width: 100%;
  height: auto;
  display: block;
}

.grid h2 {
  text-wrap: nowrap;
}

.breadcrumb {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.breadcrumb li {
  padding: 0;
}

.breadcrumb li + li::before {
  content: " / ";
  padding: 0 0.25em;
  // color: var(--pico-color);
}
