name: Build and Deploy to S3
on:
  push:
    branches:
      - main
jobs:
  deploy:
    environment:
      name: ${{ github.ref_name }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2.3.4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ vars.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ vars.AWS_DEFAULT_REGION }}

      - name: Install dependencies
        run: npm ci

      - name: Build CSS
        run: npm run build:css

      - name: Dump data from S3
        run: npm run dump:data

      - name: Build the website
        run: npx @11ty/eleventy

      - name: Upload files to S3 with AWS CLI
        run: |
          npx rclone sync ./_site :s3:${{ vars.BUCKET }} --s3-provider AWS --s3-region eu-west-1 --s3-env-auth --delete-after
